/*index*/
.modal-footer {
    padding: 5px;
}

.content .search-box {
    max-width: 800px;
    margin: 80px auto 0;
    display: flex;
    height: 40px;
}

.search-box #search-inp {
    width: 80%;
    height: 100%;
    outline: none;
    border: 1px solid #ccc;
    color: #5A5858;
    text-indent: 20px;
}

.search-box #search-inp:focus {
    box-shadow: 0 0 6px 1px #FA9339;
}

.search-box .search-icon {
    width: 20%;
    font-size: 24px;
    background: #FF7800;
    color: #fff;
    height: 100%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.search-box .search-icon:hover {
    background: #FF961E;
}

#search-info {
    max-width: 800px;

}

.error-tips {
    margin: 10px auto 0;
    height: 40px;
    padding: 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-margin-right {
    margin-right: 10px;
}

.pic-box {
    max-width: 800px;
    height: 300px;
    margin: 10px auto 0;
    border: 1px solid #ccc;
}

.info-box {
    max-width: 800px;
    margin: 20px auto 0;
}

.info-box li:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.info-box li:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.info-box #more_url {
    width: auto;
    height: auto;
}

.info-box #more_url i {
    margin-left: 5px;
}

.info-box li .badge:hover {
    background: #070E18;
}

/*personal_center*/
#center_wrapper {
    max-width: 400px;
    margin: 140px auto 0;
}

#center_wrapper form div {
    margin-top: 10px;
}

.add-div-margin {
    margin-top: 10px;
}

.button-margin {
    margin-top: 20px;
}

.button-margin-small {
    margin-top: 5px;
}

/*user_list_o*/
.list-wrapper {
    max-width: 800px;
    margin: 80px auto 0;
    text-align: center;
}

.list-style {
    margin: 80px auto 0;
    text-align: center;
}

#list_user_o thead tr {
    background: #467ED3;
}

.tr-style {
    color: #fff;
}

.delete-style {
    color: #BF150F;
    cursor: pointer;
}

#list_user_o + .page-box .page-common {
    color: #467ED3;
    background-color: #fff;
    border: 1px solid #467ED3;
}

#list_user_o + .page-box .page-common:hover {
    color: #fff;
    background-color: #467ED3;
}

#list_user_o + .page-box .total-color {
    color: #467ED3;
}

#list_user_o + .page-box .go-page-common {
    background: #467ED3;
    border: 1px solid #467ED3;
}

/*edit_user_c*/
#list_user_c {
    margin-bottom: 0;
}

#list_user_c thead tr {
    background: #339900;
}

.edit-color {
    margin-right: 10px;
    color: #337ab7;
    cursor: pointer;
}

.edit-color:hover {
    text-decoration: underline #337ab7;
}

#list_user_c + .page-box .page-common {
    color: #339900;
    background-color: #fff;
    border: 1px solid #339900;
}

#list_user_c + .page-box .page-common:hover {
    color: #fff;
    background-color: #339900;
}

#list_user_c + .page-box .total-color {
    color: #339900;
}

#list_user_c + .page-box .go-page-common {
    background: #339900;
    border: 1px solid #339900;
}

#list_user_c + .page-box + .modal .modal-dialog {
    margin: 200px auto;
}

/*user_list_s*/
#list_user_s {
    max-width: 900px;
}

#list_user_s thead tr {
    background: #009999;
}

#list_user_s + .page-box .page-common {
    color: #009999;
    background-color: #fff;
    border: 1px solid #009999;
}

#list_user_s + .page-box .page-common:hover {
    color: #fff;
    background-color: #009999;
}

#list_user_s + .page-box .total-color {
    color: #009999;
}

#list_user_s + .page-box .go-page-common {
    background: #009999;
    border: 1px solid #009999;
}

/*edit_user_s*/
#user_s_wrapper {
    max-width: 400px;
    margin: 140px auto 0;
}

#user_s_wrapper form div {
    margin-top: 10px;
}

#user_s_wrapper > div:first-of-type {
    margin-top: 20px;
}

#user_s_wrapper > div:last-of-type {
    margin-top: 5px;
}

/*edit_company*/
#company_wrapper {
    margin: 80px auto 0;
    max-width: 800px;
}

#company_wrapper form > div > div:first-of-type {
    width: 100%;
}

#cancle_c {
    margin-right: 10px;
}

/*message*/
#message_wrapper {
    max-width: 800px;
    margin: 80px auto 0;
}

#message_wrapper .page-common {
    color: #337AB7;
    background-color: #fff;
    border: 1px solid #337AB7;
}

#message_wrapper .page-common:hover {
    color: #fff;
    background-color: #337AB7;
}

#message_wrapper .total-color {
    color: #337AB7;
}

#message_wrapper .go-page-common {
    background: #337AB7;
    border: 1px solid #337AB7;
}

#message_wrapper .badge-red {
    background: #990000;
}

#message_wrapper .view {
    color: #0099CC;
    cursor: pointer;
}

/*company_d*/
#company_d_wrapper {
    max-width: 600px;
    margin: 80px auto 0;
}

#company_d_wrapper input {
    height: 100%;
}

#company_d_wrapper .button {
    margin-left: 5px;
}

#company_d_wrapper .panel {
    margin-top: 20px;
}

#company_d_wrapper table tr {
    text-align: center;
}

#company_d_wrapper table tr td:last-of-type span {
    color: #337AB7;
    cursor: pointer;
}

#company_d_wrapper .jumbotron {
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 0;
    background: rgba(51, 51, 51, 0.8);
}

#company_d_wrapper .jumbotron p {
    font-size: 16px;
    font-weight: normal;
}

#company_d_wrapper .jumbotron p:last-of-type {
    margin-bottom: 0;
}

#company_d_wrapper .title-text {
    color: #6699FF;
}

#company_d_wrapper .main-text {
    color: #fff;
}

#load_img {
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
}

/*logistics*/
#logistics_wrapper {
    max-width: 800px;
    margin: 80px auto;
}

#logistics_wrapper p {
    padding-left: 15px;
    color: #777;
}

#logistics_wrapper ul {
    height: 40px;
    line-height: 40px;
    padding-left: 0;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 30px;
}

#logistics_wrapper ul li {
    height: 100%;
    color: #f13f40;
    font-size: 15px;
    font-weight: bold;
}

#logistics_wrapper ul i {
    position: absolute;
    left: -11px;
    top: 10px;
    font-size: 20px;
    color: #0099FF;

}

#logistics_wrapper ul li:nth-of-type(2) {
    position: relative;
    padding-left: 30px;
}

#logistics_wrapper table {
    width: 100%;
    color: #777;
}

#logistics_wrapper table tr {
    height: 60px;
    line-height: 60px;
}

#logistics_wrapper table tr:first-of-type i {
    color: #FF6600;
}

#logistics_wrapper .add-padding-lf {
    position: relative;
    border-left: 2px solid #ccc;
    padding-left: 30px;
}

.transport {
    position: absolute;
    left: -7px;
    top: 21px;
    padding-top: 2px;
    background: #fff;
    color: #0099FF;
}

#logistics_wrapper .remove-pad-lf {
    padding-left: 0;
}

#logistics_wrapper .remove-pad-rg {
    padding-right: 0;
}

/*send*/
#send_wapper {
    text-align: left;
    max-width: 640px;
    background: url(/assets/images/bg.svg) no-repeat;
    background-size: 100% 100%;
}

#send_wapper form {
    max-width: 500px;
    padding: 30px 0 5px;
    margin: 0 auto;
}

#send_wapper form > div:last-of-type {
    text-align: right;
}

/*record*/
#record_wrapper {
    max-width: 400px;
    margin: 100px auto 0;
}

/*list_company*/
#list_company {
    max-width: 900px;
}

#list_company thead tr {
    background: #339900;
}

#list_company + .page-box .page-common {
    color: #339900;
    background-color: #fff;
    border: 1px solid #339900;
}

#list_company + .page-box .page-common:hover {
    color: #fff;
    background-color: #339900;
}

#list_company + .page-box .total-color {
    color: #339900;
}

#list_company + .page-box .go-page-common {
    background: #339900;
    border: 1px solid #339900;
}

#edit_company {
    text-align: left;
}

/*list_notice*/
#list_notice {
    max-width: 900px;
}

#list_notice thead tr {
    background: #FF6600;
}

#list_notice + .page-box .page-common {
    color: #FF6600;
    background-color: #fff;
    border: 1px solid #FF6600;
}

#list_notice + .page-box .page-common:hover {
    color: #fff;
    background-color: #FF6600;
}

#list_notice + .page-box .total-color {
    color: #FF6600;
}

#list_notice + .page-box .go-page-common {
    background: #FF6600;
    border: 1px solid #FF6600;
}

/*edit_notice*/
#edit_notice_wrapper {
    max-width: 400px;
    margin: 100px auto 0;
}

/*all_logictics*/
#ls_express_company {
    max-width: 900px;
}

#ls_express_company thead tr {
    background: #339900;
}

#ls_express_company tbody tr td:last-of-type {
    cursor: pointer;
    color: #337ab7;
}

#ls_express_company + .page-box .page-common {
    color: #339900;
    background-color: #fff;
    border: 1px solid #339900;
}

#ls_express_company + .page-box .page-common:hover {
    color: #fff;
    background-color: #339900;
}

#ls_express_company + .page-box .total-color {
    color: #339900;
}

#ls_express_company + .page-box .go-page-common {
    background: #339900;
    border: 1px solid #339900;
}

/*personal_logictics*/
#ls_express_personal {
    max-width: 900px;
}

#ls_express_personal thead tr {
    background: #990033;
}

#ls_express_personal + .page-box .page-common {
    color: #990033;
    background-color: #fff;
    border: 1px solid #990033;
}

#ls_express_personal + .page-box .page-common:hover {
    color: #fff;
    background-color: #990033;
}

#ls_express_personal + .page-box .total-color {
    color: #990033;
}

#ls_express_personal + .page-box .go-page-common {
    background: #990033;
    border: 1px solid #990033;
}

/*add_company_user*/
#user_c_wrapper {
    max-width: 400px;
    margin: 100px auto 0;
}

/*add_slide*/
#slide_wrapper {
    max-width: 800px;
    margin: 100px auto 0;
}

#slide_wrapper > div {
    width: 100%;
    text-align: right;
}

#slide_wrapper form div:last-of-type > .error-tips {
    width: 385px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
}

.datainp {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.wicon {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAQCAYAAADj5tSrAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8xNS8xNGnF/oAAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAAAoElEQVQ4jWPceOnNfwYqAz9dYRQ+E7UtwAaGjyUsDAyYYUgJ2HT5LXZLcEmSCnA6duOlN///////H0bDALl8dPH/////Z8FuNW6Qtvw2nL3lyjsGBgYGhlmRqnj1kGwJuqHIlhJlCXq8EOITEsdqCXLEbbr8FisfFkTo+vBZRFZwERNEFFkCiw90nxJtCalxQmzegltCzVyP1RJq5HZ8AABuNZr0628DMwAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-position: right center;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner > .item > img {
    height: 300px;
    width: 800px;
}

#list_ad {
    max-width: 900px;
}

#list_ad thead tr {
    background: #FF6600;
}

#list_ad + .page-box .page-common {
    color: #FF6600;
    background-color: #fff;
    border: 1px solid #FF6600;
}

#list_ad + .page-box .page-common:hover {
    color: #fff;
    background-color: #FF6600;
}

#list_ad + .page-box .total-color {
    color: #FF6600;
}

#list_ad + .page-box .go-page-common {
    background: #FF6600;
    border: 1px solid #FF6600;
}

#view_img {
    width: 500px;
    height: 187.5px;
}

#list_ad + div:nth-child(3) .modal-body {
    text-align: left;
}